@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  background-color: #121212;
}

::selection {
  background-color: #9a35ff;
  color: #ffffff;
}

body.dark ::selection {
  background-color: #35ff69;
  color: #000000;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.loading-card,
.loading-image,
.loading-title,
.loading-description {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

body.dark .loading-card,
body.dark .loading-image,
body.dark .loading-title,
body.dark .loading-description {
  background: linear-gradient(110deg, #333333 8%, #2c2c2c 18%, #333333 33%);
}

.loading-title,
.loading-description {
  border-radius: 8px;
  height: 80px;
}

.loading-title {
  height: 24px;
}
